<div class="auth-container">
  <div class="card">
    <div class="box">
      <h2>Forget Password</h2>

      @if (step == 1) {
        <form [formGroup]="verifyEmail" (submit)="VerifyEmail()">
          <label>Email Address</label>
          <input
            class="form-control"
            [ngClass]="{
              'is-invalid': verifyEmail.get('email')?.errors && verifyEmail.get('email')?.touched,
              'is-valid': verifyEmail.get('email')?.touched && !verifyEmail.get('email')?.errors,
            }"
            formControlName="email"
            type="email"
            placeholder="name@example.com"
          />
          @if (
            verifyEmail.get('email')?.touched && verifyEmail.get('email')?.errors?.['required']
          ) {
            <small class="text-danger fs-6"> Email is required </small>
          } @else if (
            verifyEmail.get('email')?.dirty && verifyEmail.get('email')?.errors?.['email']
          ) {
            <small class="text-danger fs-6">
              Please enter a valid email like ahmed@gmail.com
            </small>
          }

          <!-- Button -->
          <button [disabled]="verifyEmail.invalid || isloading()" type="submit" class="primary">
            Verify Email
            @if (isloading()) {
              <span><i class="fas fa-spin fa-spinner"></i></span>
            }
          </button>
        </form>
      } @else if (step == 2) {
        <form [formGroup]="verifyCode" (submit)="VerifyCode()">
          <label>Code</label>
          <input
            class="form-control"
            [ngClass]="{
              'is-invalid':
                verifyCode.get('resetCode')?.errors && verifyCode.get('resetCode')?.touched,
              'is-valid':
                verifyCode.get('resetCode')?.touched && !verifyCode.get('resetCode')?.errors,
            }"
            formControlName="resetCode"
            type="text"
            placeholder="Enter code"
          />
          @if (
            verifyCode.get('resetCode')?.touched &&
            verifyCode.get('resetCode')?.errors?.['required']
          ) {
            <small class="text-danger fs-6"> resetcode is required </small>
          }

          <!-- Button -->
          <button [disabled]="verifyCode.invalid || isloading()" type="submit" class="primary">
            Verify Code
            @if (isloading()) {
              <span><i class="fas fa-spin fa-spinner"></i></span>
            }
          </button>
        </form>
      } @else if (step == 3) {
        <form [formGroup]="resetpassword" (submit)="ResetPassword()">
          <label>Email Address</label>
          <input
            readonly
            class="form-control"
            [ngClass]="{
              'is-invalid':
                resetpassword.get('email')?.errors && resetpassword.get('email')?.touched,
              'is-valid':
                resetpassword.get('email')?.touched && !resetpassword.get('email')?.errors,
            }"
            formControlName="email"
            type="email"
            placeholder="name@example.com"
          />
          @if (
            resetpassword.get('email')?.touched && resetpassword.get('email')?.errors?.['required']
          ) {
            <small class="text-danger fs-6"> Email is required </small>
          } @else if (
            resetpassword.get('email')?.dirty && resetpassword.get('email')?.errors?.['email']
          ) {
            <small class="text-danger fs-6">
              Please enter a valid email like ahmed@gmail.com
            </small>
          }

          <div class="password-header">
            <label>Password</label>
          </div>

          <div class="password-box">
            <input
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  resetpassword.get('newPassword')?.errors &&
                  resetpassword.get('newPassword')?.touched,
                'is-valid':
                  resetpassword.get('newPassword')?.touched &&
                  !resetpassword.get('newPassword')?.errors,
              }"
              formControlName="newPassword"
              [type]="showPassword() ? 'text' : 'password'"
              placeholder="Enter your password"
            />
            <span class="eye" (click)="togglePassword()">
              <i class="fas" [ngClass]="showPassword() ? 'fa-eye-slash' : 'fa-eye'"></i>
            </span>
          </div>

          @if (
            resetpassword.get('newPassword')?.touched &&
            resetpassword.get('newPassword')?.errors?.['required']
          ) {
            <small class="text-danger fs-6"> Password is required </small>
          } @else if (
            resetpassword.get('newPassword')?.dirty &&
            resetpassword.get('newPassword')?.errors?.['pattern']
          ) {
            <small class="text-danger fs-6">
              Password must contain at least 6 characters, including uppercase, lowercase, number,
              and underscore
            </small>
          }

          <!-- Button -->
          <button [disabled]="resetpassword.invalid || isloading()" type="submit" class="primary">
            Reset
            @if (isloading()) {
              <span><i class="fas fa-spin fa-spinner"></i></span>
            }
          </button>
        </form>
      }
    </div>
  </div>
</div>
