<section class="container-fluid bg-dark-custom text-light py-5 px-4">
  <div class="container-fluid px-lg-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="section-title">Favourites</h2>
      @if (userService.Favourites().length > 0) {
        <div class="d-flex gap-2">
          <button class="slider-btn slider-left" (click)="scrollLeft()">
            <i class="bi bi-chevron-left"></i>
          </button>

          <button class="slider-btn slider-right" (click)="scrollRight()">
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>
      }
    </div>

    <div class="slider-wrapper">
      <div #scrolFavourites class="movies-slider d-flex gap-4 pb-3">
        @if (userService.watchLater().length > 0) {
          @for (item of userService.Favourites(); track item.id) {
            <div style="width: 300px" class="flex-shrink-0">
              <app-media-card [media]="item.data" [mediaType]="item.type" mode="favourite">
              </app-media-card>
            </div>
          }
        } @else {
          <div class="text-center text-white py-5">
            <h3>No Media Added Yet</h3>
          </div>
        }
      </div>
    </div>
  </div>
</section>
