<div class="auth-container">
   
<div class="card">

  <div class="box">

     <h2>Create Account</h2>
    <p>Join the world of premium cinema.</p>

    <!-- Full Name -->
    <label>Full Name</label>
    <input type="text" placeholder="John Doe">

    <!-- Email -->
    <label>Email Address</label>
    <input type="email" placeholder="name@example.com">

    <!-- Password -->
    <div class="password-header">
      <label>Password</label>
    </div>

    <div class="password-box">
      <input type="password" placeholder="••••••••">
      <span class="eye">👁</span>
    </div>

    <!-- Confirm Password -->
    <div class="password-header">
      <label>Confirm Password</label>
    </div>

    <div class="password-box">
      <input type="password" placeholder="••••••••">
      <span class="eye">👁</span>
    </div>

    <!-- Button -->
    <button class="primary">Sign Up</button>

    <!-- OR -->
    <div class="divider">
      <span>OR</span>
    </div>

    <!-- Google -->
    <button class="google">Continue with Google</button>

    <p class="switch">
      Already have an account? <span>Sign in</span>
    </p>

  </div>

</div>

