@if (userService.watchLater().length > 0) {
  <section class="container-fluid bg-dark-custom text-light py-5 px-4">
    <div class="container-fluid px-lg-5">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="section-title">Watch Later</h2>
        <div class="d-flex gap-2">
          <button class="slider-btn slider-left" (click)="scrollLeft()">
            <i class="bi bi-chevron-left"></i>
          </button>

          <button class="slider-btn slider-right" (click)="scrollRight()">
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>
      </div>

      <div class="slider-wrapper">
        <div #scrolWatchList class="movies-slider d-flex gap-4 pb-3">
          @for (item of userService.watchLater(); track item.id) {
            <div style="width: 300px" class="flex-shrink-0">
              <app-media-card [media]="item.data" [mediaType]="item.type" mode="watchlist">
              </app-media-card>
            </div>
          }
        </div>
      </div>
    </div>
  </section>
}
