<div class="movie-card flex-shrink-0">
  <div class="movie-image-wrapper position-relative overflow-hidden rounded-4">
    <img
      [src]="'https://image.tmdb.org/t/p/w500' + media.poster_path"
      class="w-100 object-fit-fill movie-image"
      alt="movie"
    />

    <!-- Rating -->

    <div class="rating-badge d-flex align-items-center gap-1">
      <i class="bi bi-star-fill"></i>
      <span>{{ media.vote_average }}</span>
    </div>

    <!-- Overlay -->

    <div class="movie-overlay">
      <div class="d-flex flex-column align-items-center gap-3">
        <!-- Play -->

        <button class="play-btn" (click)="goToDetails()">
          <i class="bi bi-play-fill"></i>
        </button>

        <div>
          <!-- Favorite -->

          <button class="action-btn me-2">
            <i class="bi bi-heart"></i>
          </button>

          <!-- My List -->

          <button class="action-btn">
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Text -->

  <div class="pt-3">
    <h5 class="movie-title mb-1">
      {{ media.title || media.name }}
    </h5>

    <p class="movie-genre mb-0">
      {{ media.genre }}
    </p>
  </div>
</div>
